In [46]:
import os
import pandas as pd

In [47]:
# Setup
BASE_DIR = os.getcwd()
DATA_DIR = os.path.join(BASE_DIR, 'Data')
TEMP_DIR = os.path.join(BASE_DIR, 'Temp')
FILE_PATH = os.path.join(TEMP_DIR, '10-03.csv')

In [48]:
os.listdir(TEMP_DIR)

['.DS_Store', '10-03.csv']

In [49]:
data = pd.read_csv(FILE_PATH)

In [50]:
data.drop(columns=['Unnamed: 0'], inplace=True)

In [51]:
data.head()

         2022-03-09
0  Nu Disco / Disco
1  Nu Disco / Disco
2  Nu Disco / Disco
3       Electronica
4  Nu Disco / Disco

In [52]:
col = data.columns[0]
data.rename({col: 'genre'}, axis=1, inplace=True)

In [53]:
genres = data.genre.unique().tolist()
values = [data.loc[data.genre == genre].shape[0] for genre in genres]

In [56]:
temp = []
for genre, val in zip(genres, values):
    data = {
        'genre': genre,
        'appearances': val
    }
    temp.append(data)

In [57]:
clean_data = pd.DataFrame(temp)

In [60]:
clean_data.sort_values(by='appearances', ascending=False).head()

                     genre  appearances
15              Tech House          207
5   Melodic House & Techno          122
2                    House          106
11              Deep House           67
10                  Trance           60

In [61]:
type(clean_data)

pandas.core.frame.DataFrame